#login-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
}

#login-popup.show {
    opacity: 1;
    visibility: visible;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

#login-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

#login-form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
}

#login-form button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    height: 20px;
}
#login-popup.hide {
    opacity: 0;
    transition: opacity 0.5s ease;
}
