.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
  }


  #navbar{
    background-color: #7A4068;
    color: white;
    padding: 10px;
    margin: px;
  }


  #navbar ul{
    margin: 0;
    background-color: #7A4068;
    color: white;
    padding: 0;
}


  #navbar li{
    display: inline;
  }


  #navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 30px;
    
}


  
  .product {
    border: 1px solid #ccc;
    padding: 1em;
  }


  
  .product img {
    width: 100%;
    height: auto;
  }
   
.shop{
    position: relative;
    text-align: right;
    bottom:230px;
    padding-right: 10px;
    margin-right: 8px;
   

  }

 #image-cart{
    position: relative;
    justify-items: right;
    left: 2100px;
    width: 30px;
    width: 30px;
 }


  @media (max-width: 600px) {
    .product-grid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  
  /*Product Page css*/
  .product-detail {
    max-width: 800px;
    margin: auto;
    padding: 1em;
  }
  
  .product-detail img {
    width: 100%;
    height: auto;
  }
  
  .product-detail h2 {
    margin-top: 0;
  }

  .product h2 {
    word-wrap: break-word;      /* Break long words onto the next line */
    overflow: hidden;           /* Hide any overflow */
    text-overflow: ellipsis;    /* Add an ellipsis if the text overflows */
    white-space: nowrap;        /* Prevent the text from wrapping onto multiple lines */
    max-width: 100%;            /* Set a maximum width for the text */
}

  @media (max-width: 600px) {
    .product-grid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  
  /*Shopping Cart.html css*/
  .shopping-cart {
    max-width: 800px;
    margin: auto;
    padding: 1em;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }
  
  .cart-item img {
    width: 100px;
    height: auto;
    margin-right: 1em;
  }
  
  .cart-item input {
    margin-left: auto;
    width: 50px;
  }
  @media (max-width: 600px) {
    .product-grid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  

  